.InputField {
  border-radius: 4px;
  padding-left: 30px;
  /* border: 5px solid rgb(115, 45, 226); */
  /* box-shadow: 10px 10px 10px 10px rgb(155, 171, 240); */
}
.InputField:focus {
  outline: none;
  border-color: #77afdd;
  box-shadow: 0 0 15px #b7cddf;
}

.FieldDropDown {
  display: block !important;
  width: 94% !important;
  border: 1px solid #ccc;
  background-color: rgb(199, 50, 50) !important;
  font-size: 0.9rem;
  z-index: 3;
  position: absolute;
  top: 41px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 405px;
  overflow-y: auto;
  box-sizing: border-box;
  left: 3%;
}
.css-41txtf-IconWrapper {
  min-width: 38px;
}
