
.css-button {
  font-family: Arial;
  color: #666666;
  font-size: 16px;
  border-radius: 5px;
  border: 1px #dcdcdc solid;
  background: linear-gradient(180deg, #ffffff 5%, #f6f6f6 100%);
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: inset 1px 1px 2px 0px #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 40px;
  border-radius: 74px;
}
.css-button:hover {
  background: linear-gradient(180deg, #f6f6f6 5%, #ffffff 100%);
}
.css-button-icon {
  margin-left: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.css-button-icon svg {
  vertical-align: middle;
  position: relative;
}
.css-button-text {
  padding: 10px 18px;
}


.Datepicker {
  position: absolute; 
  z-index: 20;
  top: 50px;
  right: -52px;
  background-color: white;
  border: 1px solid #c0b7e3;
}

.rdrDateRangePickerWrapper{
  width: 432px;
 
}

/* .rdrDefinedRangesWrapper {
  display: none;
} */

  @media only screen and  (max-width: 800px){
    .Datepicker{
    top: 50px;
    right: 170px;
  } 
}

@media only screen and  (min-width: 425px) and (max-width: 500px){
  .Datepicker{
  top: 50px;
  right: 230px;
} 
}
